{#defines the base template#}
{% extends 'base.html' %}

{# overrite the index.html body code makes the piece of code to be shown.#}
{% block content %}

    {##}
    {#    <h3>The for syntax:</h3>#}
    {#    <p>start: &#123;&#37; for post in posts &#37; &#125;</p>#}
    {#    <p>end: &#123;&#37;  endfor &#37; &#125;</p>#}
    {#    <p>access params: &#123;&#123; post.title &#125;&#125; </p>#}

    <div class="container">



{#        <div class="jumbotron" style="background: peru">#}
        <div class="jumbotron" style="height:350px; background: url('/media/img/background.jpg')">
            <h1 class="text-center">Welcome</h1>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white text-center">Recent Posts</h1>
            </div>
        </div>


            <div class="row">

        {% for post in posts %}

            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ post.image.url }}" style="height: 200px" alt="{{ post.title }}">
                    <div class="card-body">
                            <h3 class="card-title"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
                        <div class="card-text">
                            <p class="card-text">{{ post.summary }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            </div>

    </div>
{% endblock %}

