{#defines the base template#}
{% extends 'single-template.html' %}

{#overrides the page title#}
{% block title %} My Site: {{ post.title }} {% endblock %}

{# overrite the index.html body code makes the piece of code to be shown.#}
{% block entry %}

            <h2>{{ post.title }}</h2>

            <div>
                {{ post.content|linebreaks }}
            </div>

{% endblock %}


